/* Styles for larger screens */
.main {
  padding: 20px;
}

.products {
  text-align: center;
  margin: 20px;
}


.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for smaller screens (mobile) */
@media (max-width: 768px) {
  .products h1 {
    font-size: 20px;
  }

  .product-card {
    width: 100%; /* Make each product card take full width on small screens */
    margin: 10px 0;
  }
}

/* Add any additional responsive styles as needed */
