/* Header styles */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(222, 217, 217);
  position: sticky;
  top: 0px;
  z-index: 100;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Add some gap between the logo and text */
}

.logo img {
  max-width: 40px;
}

.logo-name {
  font-size: 18px;
  font-weight: bold;
}

.navigation .link {
  padding: 10px;
}

.navigation .link.active {
  background-color: #eeeeee;
  border-radius: 5px;
}

.items {
  font-weight: 500;
  min-width: 70px;
}

@media screen and (max-width: 680px) {
  .navigation {
    display: none;
  }
}
